body {
    background: black;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.show-board {
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    width: 400px;
    height: 600px;
    border: 1px solid red;
    padding: 0 calc(50% - 600px);
    color: white;
}

.show-board > h1 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
}